#fm-content{
  padding: 0 8px;
}

.item {
  text-align: center;
  border: 1px solid #eee;
  margin: 8px;
  cursor: pointer;
  border-radius: 2px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  float: left;
}

.item:hover {
  border-color: #f36;
}

.item.selected {
  border-color: #f36
}

.item .ant-card-body {
  padding: 6px 8px;
  background: #f5f5f5;
  text-align: center;
}

.info-tooltip p {
  padding: 4px;
  margin: 0;
}

.ant-card-meta-title {
  font-size: 13px;
  font-weight: normal;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.item:hover .ant-card-meta-title,
.item.selected .ant-card-meta-title{
  color: #f36;
}